.Podcast:hover {
  color: var(--secondaryColor);
}

.Podcast a {
  color: var(--secondaryColor);
}

.PodcastImage {
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  max-width: 100%;
}

.PodcastHeader {
  height: 220px;
  padding: 0;
}

.PodcastTitle {
  height: 4rem;
  margin-bottom: 0;
}

.PodcastBody {
  background: rgba(0, 0, 0, 0.03);
}
